astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
distro==1.4.0
html2text==2020.1.16
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
matrix-client==0.3.2
mccabe==0.6.1
pycparser==2.19
pymongo==3.10.1
pyOpenSSL==19.1.0
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
wrapt==1.11.2
zulip==0.6.3
zulip-bots==0.6.3